#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-modal ion-toolbar {
    // --ion-background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    --ion-background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    color: white;
    padding: 0 20px;
    position: absolute;
  }
  .pochette {
    position: absolute;
    top: 0;
    left: 0;
    // position: relative;
    display: inline-block;
    // background-color: black;
  
    img {
      width: 100vw; // Ajustez la largeur de l'image en fonction de vos besoins
      height: 100vw;
        color: white;
        border-radius: 0px 0px 10px 10px;
      z-index: -11;
  
    }
  }    
      // .overlay {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100vw;
      //   height: 100vw;
      //   background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849));
      //   color: white;
      //   opacity: 1;
      //   transition: opacity 0.3s ease;
      // z-index: 0;}
  .lyrics{
    pre{
      width: 95vw;
      height: auto;
    }
  }
      
      ion-modal ion-button{
        font-size: 25px;
      }
      ion-content ion-button {
        font-size: 25px;
        position:absolute;
        right: 5vw;
        top: -20vw;
        color: white;
      }